*{
    list-style-type:none;
    margin: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 800px;
    background-image: url("../assets/Desktop_Backgrounds_1920x1200_6 3.png");
    background-size: 100%;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item{
    margin-right: 40px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 71px;
    text-transform: uppercase;
}

.nav-item-text{
    color: white;
}

.header-text-left{
    color:white;
    margin-left: 25%;
    margin-right: 20%
}

.header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 187px;
}

.header-info{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.header-text{
    text-align: center;
    font-size: 24px;
    color: white;
}

.header-headline{
    text-align: center;
    font-size: 48px;
    width: 386px;
    color: white;
    margin-top: 13px;
    margin-bottom: 42px;
}

.info-section{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.info-text{
    text-align: center;
    font-size: 24px;
    font-size: 16px;
    margin-bottom: 35px;
    width: 983px;
}

.info-headline{
    text-align: center;
    font-size: 48px;
    width: 386px;
    margin-top: 13px;
    margin-bottom: 40px;
    width: 669px;
    margin-top: 87px;
}

.info-sub-headline{
    text-align: center;
    font-size: 24px;
    margin-bottom: 48px;
    color: #666666
}

.read-more-button{
    background-color:#39C2D7;
    width: 115px;
    height: 36px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.video-section{
        height: 666px;
        background-image: url("../assets/IMG_1334_72dpi_RGB_ 1.png");
        background-size: 100%;
        margin-top: 98px;
        display: flex; 
        align-items: center;
        flex-direction: column;
}

.video-headline{
    text-align: center ;
    font-size: 48px;
    width: 386px;
    color: white;
    margin-top: 84px;
    margin-bottom: 42px;
    width: 480px;
}

.video-button{
    background: #39C2D7;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100%;
}

.video-text{
    font-size: 24px;
    width: 390px;
    color: white;
    margin-top: 80px;
    text-align: center;
}

.footer{
    background-color: #464547;
    height: 170px;
    padding-left: 140px;
    padding-top: 19px;
}

.Project-container{
    display: flex;
}

.footer-headline{
    width: 92px;
    height: 16px;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

.footer-text{
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    height: 22px;
    font-size: 16px;
}